/* body */

body {
  background-color: black;
} 

/* logo */
.StudentDashBoardLogo {
  width: 100;
  height: 100;
  position: relative;

}
  .StudentDashBoardLogo video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
  .title {
  width: 100%;
  height: 100%;
  background-color:#000;
  font-size: 200px;
  color:
  #fff;
  mix-blend-mode: multiply;
  text-align: center;
}

/* calendar */

.calendarContainer {
  position: absolute;
  left: 10px;
  height: 65vh;
  width: 45;
  color: aliceblue;
  display: flex;
  float: left;

}

.calendar{
  padding: 5px;
  margin: 0;
  height:  80vh;
  display: grid;
  place-items: center;
  width: 25;
  /* height: 50; */
  background-color: #515151;

/* change white */
  border: 5px solid white;
}

.dateInfo{
  width: 400px;
  height: 100px;
  background-color: #373737;
  display: flex;
  align-items: center;
  padding: 0 3.8rem;
  text-align: center;

  color: black;
/* change white */
  border: 1px solid white;
}

.dateInfoStr{
  left: 100px;
  color: black;

}


.changeMonth{
  padding: 25px 20px;
  font-size: 60px;
}

/* change hover size */
.changeMonth:hover {
  background-color: gray;
  cursor: pointer;
}

.monthList{
  position: absolute;
  width: 50%;   
  float: right;
  height: 40%; 
  top: 20px;
  left: 1.5rem;
  background-color: darkgray;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 13px;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.monthList.show{
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
}


.monthList > div{
  display: grid;
  place-items: center;
}

.monthList > div > div{
  width: 100%;
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
}

.monthList > div > div:hover{
 background-color: lightgray;
}


.pickYear{
  display: flex;
  align-items: center;
}

.changeYear{
  height: 25px;
  width: 25px;
  font-size: medium;
  margin: 0 10px
}

button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	background: #333;
	margin: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
	color: #222;
	font-size: 16px;
}

button:hover {
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
	font-size: 15px;
	transition: 500ms;
}

/* make all buttons with and an id and this css */
#prevButton, #nextButton{
  background-color: darkgray;
  cursor: pointer;
}

.weekdays{
  color: black;


  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
  width: 100;
  height: 100;
  padding: 20px;
  /* display: flex; */
  align-items: center;
  /* change white */
  border: 2px solid white;

}

.weekdays div{
  display: grid;
  place-items: center;
  /* top: 20; */
  font-size: 14px;
  /* font-weight: 400;s */
  letter-spacing: 0.1rem;
  padding: 0 0.4rem;
  /* display: flex;  */
  justify-content: center;
  align-items: center;
}

/* stop twerking */
.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  width: 100;
  /* display: flex; */
  flex-wrap: wrap;
  padding: 0.2rem;
  color: silver;
/* change from white */
  border: 2px solid white;
  
}

.days div{
  width: 50px;
  height: 50px;
  position: relative;
  padding: 5px;

  font-size: 1.4rem;
  margin: 0.5rem;
  width: 4rem; 
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days div:hover:not(.currentDate){
  background-color: lightgray;
  border: 0.1px solid #777;
  transition: 1s;
}


.currentDate{
  background-color: #373737;
  color: black;
}

.previousMonthDays,
.nextMonthDays{
  opacity: 0.15;
  color: black;
}


/* weather Div */
/* left: 600px */
/* actually float right */

.weatherContainer{
  top: 200px;
  box-sizing: border-box;
  padding: 40px;
  margin: 0;
  height:  70vh;
  display: grid;
  place-items: center;
  width: 35;
  float: right;
  position: relative;

} 

/* weather Div */
/* left: 600px */
/* actually float right */

.weatherContainer{
  top: 200px;
  box-sizing: border-box;
  padding: 40px;
  margin: 0;
  height:  70vh;
  display: grid;
  place-items: center;
  width: 35;
  float: right;
  color: white;
  background: skyblue;
  border-radius: 20px;

  border: 1px solid white;

  position: relative;

} 

.weatherSection{
  display: flex;
  flex-wrap: wrap;
  background: rgba(24, 24, 27, 0.6);
  padding: 20px;
  border-radius: 10px;
  border: 5px solid white;

}

.locationDeg{
  font-size: 35px;
}



.headerWeatherImg{
  height: 75px;
  width: 75px;
  position: relative;
  top: 125px;

}

.headerWeatherImg img{
  height: 105px;
  width: 105px;
}



.imgComHL{
  font-size: 18px;
  position: relative;
  top: 15px;

}

.weatherDaysInfo{
  background: rgba(24, 24, 27, 0.8);
  border-radius: 10px;
  border: 3.5px solid white;
  display: flex;
  width: 600px;

  align-items: center;
  justify-content: center;

}

.weatherDaysDivs{
  font-size: 9px;
  padding: 10px;
  text-align: center;

}

/* location */
.loctionContainer{
  margin: auto;
  height: 600px;
  width: 70%;
  border: 5px solid green;
  border-style: outset;
  padding: 5px;
  /* position relative and top i can move div down */
  position: relative;
  top: 300px;
  float: right;

}

.loctionInfoContainer{
  display: flex;
  height: 300px;
  width: 270px;
  position: relative;
  top: 925px;
  text-align: center;
  padding: 20px;
  background-color: rgba(50, 50, 50, 6);
  border: 10px double;

}

.loctionInfoContainer button{
  height: 20px;
  width: 200px;
}


.card-img{
 border-radius: 10px;
 padding: 5px;

}


.card-body{
  padding: 5px;
  background: rgba(24, 24, 27, 0.3);
  border-radius: 10px;

}

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

img{
  animation-name: bounce;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* lookup */
}

 @keyframes bounce{

/* 
  from

  to */

  0%{
    transform: translateY(0px) rotateY(0deg);
  }

  25%{
    transform: translateY(5px) rotateY(5deg);

  }

  50%{
    transform: translateY(0px) rotateY(0deg);

  }

  75%{
    transform: translateY(-5px) rotateY(-5deg);

  }

  100%{
    transform: translateY(0px) rotateY(0deg);

  }

  
 }